body {
    padding:0;
    margin:0;
    width: 1440px;
    margin:auto;
}
a, a:hover, a:active, a:focus { list-style: none; text-decoration: none; }
.item{
    float:left;
    padding:10px;
    position: relative;
}
div.left{
    width: 980px;
    height: 934px;
    background-color: #f9f9f9;
    float:left;
    position: relative;
}
.in{
    width: 225px;
    height: 301px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #ffffff;
}
.left nav.left{
    height:90px;
    width:100%;
    position:relative;
}
nav.left button{
    width: 90px;
    height: 90px;
    background-color: #002640;
    float:left;
}
nav.left input{
    width: 836px;
    height: 85px;
    background-color: #fff;
    float:left;
    padding:0 0 0 50px;
    color: #002640;
    font-family: "Axiforma - Regular";
    font-size: 24px;
    font-weight: 400;
}
.item .head{
    width: 225px;
    height: 150px;
    background-color: #ffffff;
}
.item .title{
    height:50px;
}
.item .title h4{
    color: #002640;
    font-family: "Axiforma - Medium";
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    width:220px;
}
.item .head div{
    margin:auto;
    width:60%;
}
.item .head img{
    width: 126px;
    height: 140px;
}
.item .in .body{
    padding: 2px 10px;
}
.item .in .size{
    height: 20px;
}
.size p{
    width: 48px;
    height: 20px;
    color: #ffffff;
    font-family: "Axiforma - Medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding-top: 4px;
    text-align: center;
    border-radius: 4px;
    background-color: #0087ff;
}
.item .head:hover{
    background-color: #0087ff44;
}
.item .in .price {
    width: 61px;
    height: 19px;
    color: #9ba9b3;
    font-family: "Axiforma - Regular";
    font-size: 16px;
    font-weight: 400;
    font-family: Helvetica;
}
div.right{
    width: 460px;
    height: 934px;
    background-color: #ffffff;
    float:left;
}
.right nav.right{
    width: 460px;
    height: 89px;
    background-color: #002640;
}
.sbasket{
    width: 460px;
    height: 934px;
    background-color: #ffffff;
}
.active {
    opacity: 0.7;
}
ul{
    list-style-type: none;
}
li{
    display:inline-block;
}
.count{
    width: 40px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #d4dbe3;
    background-color: #f5f5f5;
}
.counter{
    float:left;
    margin:20px;
}
.count p{
    color: #002640;
    font-family: "Axiforma - Bold";
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
}
.sbasket span{
    text-align: right;
    color: #002640;
    font-family: "Axiforma - Semi Bold";
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
}
.sbasket .price{
    width:130px;
    text-align: right;
}
.pay{
    width: 100% !important;
    height: 50px !important;
    border-radius: 5px;
    background-color: #53b042;
    width: 84px;
    height: 19px;
    color: #ffffff;
    font-family: "Axiforma - Semi Bold";
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.89px;
    float:right;
}
section{
    height:750px;
}
.sbasket .footer{
    display:none;
    border-top: 1px solid #c0c0c0;
}
.show{
    display:block !important;
}
.hide{
    display:none !important;
}
.fa-bars{
    font-size:23px;
    text-align: center;
    padding: 10px;
    color: #fff;
}
.fa-search{
    z-index: 1;
    font-size: 30px;
    position:absolute;
    left: 100px;
    top: 30px;
    color: #7c7c7c;
}
.fa-barcode{
    z-index: 1;
    font-size: 30px;
    position:absolute;
    right: 50px;
    top: 30px;
    color: #7c7c7c;
}
.fa-user-plus{
    font-size: 20px;
    color: #fff;
    padding:35px;
}
.item button{
    z-index: 1;
    position:absolute;
    right: 10px;
    top: 20px;
    width: 42px;
    height: 42px;
    border-radius: 3px;
    padding:7px;
    background: none;
    border:none;
}
.fa-ellipsis-v{
    font-size:16px;
    text-align:center;
}
.fa-ellipsis-h{
    font-size: 20px;
    color: #fff;
    padding:35px;
}
.fa-th{
    border-radius: 2px;
    text-align: center;
    font-size: 19px;
    padding: 30px 225px;
}
.left .item .button:hover{
    background-color: #ffffff;
}
.left .item .button:hover + .head:hover{
    background-color: #0087ff44;
}
.e123{
    text-align: center;
    padding-top: 50px;
    color: #acb2ba;
    font-family: "Axiforma - Regular";
    font-size: 18px;
    font-weight: 400;
}
.left .footer{
    position:absolute;
    bottom: 0;
    width:100%;
    border: 1px solid #d4dbe3;
}
.left .footer .fleft{
    width: 50%;
    height: 80px;
    background-color: #ffffff;
    float:left;
    border: 1px solid #d4dbe3;
    position: relative;
}
.left .footer .flright{
    width: 50%;
    height: 80px;
    background-color: #f9f9f9;
    float:left;
    border: 1px solid #d4dbe3;
    position: relative;
}
.right nav ul{
    padding:0;
    margin:0;
    list-style: none;
}
.right nav ul li {
    display:inline-block;
}
.right nav ul li a{
    font-weight: 700;
    color: #fff;
    font-size: 20px;
    padding: 35px;  
}